<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>IT Cursos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet" type="text/css">
	<!--[if IE 7]>
		<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
	<![endif]-->  	
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->  	
	<link rel="shortcut icon" href="/favicon.ico" />
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-3723622-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>
<header>
	<div class="container header">
		<div class="row">
			<div class="span5">
				<a href="#"><img src="assets/itcursos.png" alt="IT Cursos" /></a>
			</div><!--/.span5 -->
			<div class="span7">
				<ul class="nav nav-pills">
					<li><a href="http://www.itcursos.com.br/home/sysop-plus">Redes</a></li>
					<li><a href="http://www.itcursos.com.br/home/dsnr-plus">Design</a></li>
					<li><a href="http://www.itcursos.com.br/home/dev-plus">Programação</a></li>
					<li><a href="http://itcursos.com.br/home/turmas">Cursos rápidos</a></li>
					<li><a href="http://www.itcursos.com.br/home/atendimento">Contato</a></li>
				</ul>
			</div><!--/.span7 -->
			<div class="clearfix"></div>
			<div class="span12">
				<hr />
			</div><!--/.span12 -->
		</div><!--/.row -->
	</div><!--/.container -->
</header>
<div class="container body">
		<%= yield %>
</div><!--/.container -->
<footer>
	<div class="container footer">
		<div class="row">
			<div class="span2">
				<h3>IT Cursos</h3>
				<hr />
				<ul class="unstyled">
					<li><a href="http://news.itcursos.com.br/">Blog</a></li>
					<li><a href="http://www.itcursos.com.br/home/content/sobre">Sobre a empresa</a></li>
					<li><a href="http://www.itcursos.com.br/home/comochegar">Como chegar</a></li>
				</ul>
			</div><!--/.span2 -->
			<div class="span2">
				<h3>Cursos</h3>
				<hr />
				<ul class="unstyled">
					<li><a href="http://www.itcursos.com.br/home/sysop-plus">Academia de Redes</a></li>
					<li><a href="http://www.itcursos.com.br/home/dsnr-plus">Academia de Design</a></li>
					<li><a href="http://www.itcursos.com.br/home/dev-plus">Academia de Programação</a></li>
					<li><a href="http://itcursos.com.br/home/turmas">Cursos rápidos</a></li>
				</ul>
			</div><!--/.span2 -->
			<div class="span2">
				<h3>Alunos</h3>
				<hr />
				<ul class="unstyled">
					<li><a href="http://ead.itcursos.com.br/">IT EAD</a></li>
					<li><a href="http://oportunidades.itcursos.com.br/">Oportunidades</a></li>
					<li><a href="http://www.itcursos.com.br/home/atendimento">Atendimento</a></li>
				</ul>
			</div><!--/.span2 -->
			<div class="span2">
				<h3>Contato</h3>
				<hr />
				<ul class="unstyled">
					<li><a href="http://www.itcursos.com.br/home/atendimento">Fale Conosco</a></li>
					<li><a href="http://www.itcursos.com.br/home/content/pr%C3%A9-matricula">Pré-matrícula</a></li>
					<li><a href="http://www.itcursos.com.br/home/trabalhe-conosco">Trabalhe Conosco</a></li>
				</ul>
			</div><!--/.span2 -->
			<div class="span4">
				<h3>Unidades</h3>
				<hr />
				<p>
					<b>Lagoa Nova</b><br />
					Rua Joaquim Holanda, 1825 - Av. Miguel Castro, Lagoa Nova<br />
					Natal/RN, CEP 59062-460 - Telefone: (84) 3222-4866<br />
				</p>
			</div><!--/.span4 -->
			<div class="span12">
				<hr />
			</div><!--/.span12 -->
			<div class="span9">
				<p>
					Horário de atendimento: segunda a quinta-feira, das 14h às 22h; sexta-feira, das 14h às 18h; sábado, das 08h às 18h.<br />
					&copy; 2013 IT Cursos. Todos os direitos reservados.
				</p>
			</div><!--/.span9 -->
			<div class="span3 pagination-right">
				<a href="http://facebook.com/itcursos"><i class="icon-facebook-sign"></i></a>
				<a href="http://twitter.com/itcursos"><i class="icon-twitter-sign"></i></a>
				<a href="http://github.com/itcursos"><i class="icon-github-sign"></i></a>
			</div><!--/.span4 -->
		</div><!--/.row -->
	</div><!--/.container -->
</footer>
</body>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "welcome" %>
</html>